{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register new platform user{% endblock %}</h1>
{% endblock %}

{% block content %}
 <form method="post">

    <label for="username">Username</label>
    <input name="username" id="username" required><br>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required><br>
    <label for="repassword"> Confirm Password</label>
    <input type="password" name="repassword" id="repassword" required><br>
    <label for="admin">Admin privileges </label>
    <input type="checkbox" name="admin" id="admin" value=1><br>
    <input type="submit" value="Register">
  </form>
{% endblock %}